body {
    background: rgb(0, 0, 0);
}

button {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
}

#c1 {
    position: absolute;
    top:88%;
    left: 0%;
}

#c2 {
    transform: scaleX(-1);
    position: absolute;
    top:88%;
    right: 0%;
}

#c3 {
    transform: scale(-1, -1);
    position: absolute;
    top:0%;
    right: 0%;
}

#c4 {
    transform: scale(1,-1);
    position: absolute;
    top: 0%;
    left: 0%;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: Times;
    width: 1000px;
    position: absolute;
    top: 10%;
    left: 20.5%;
}

#lop {
    font-size: 60px;
    position: absolute;
    top: 34%;
    left: 44.5%;
    animation: rainbow 2s ease infinite;
}

#gv {
    font-size: 60px;
    position: absolute;
    top: 68%;
    left: 36%;
    animation: rainbow 2s ease infinite;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

.heart {
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	z-index: 1;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
    animation: heart 1.15s ease infinite;
}

@keyframes heart {
	96% {
		transform: translate(-50%,-50%) scale(.8,.8)
	}
	100% {
		transform: translate(-50%,-50%) scale(1,1)
	}
}

.heart div {
	background: red;
	width: 120px;
	height: 213px;
	top: 40px;
	display: block;
	position: absolute;
	border-radius: 50%;
}

.left {
	left: 6px;
    transform: rotate(330deg);
}

.right{
	right: 6px;
    transform: rotate(30deg);
}
